<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>BlogController</servlet-name>
        <servlet-class>controller.BlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyBlog</servlet-name>
        <servlet-class>controller.MyBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckPlagiarismController</servlet-name>
        <servlet-class>controller.CheckPlagiarismController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlogController</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyBlog</servlet-name>
        <url-pattern>/myblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckPlagiarismController</servlet-name>
        <url-pattern>/checkcreateandupdate</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>LandingPage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
